<!DOCTYPE html>
<html lang="en-US">
<head>
  <script src="/node_modules/angular/angular.js"></script>
  <script src="node_modules/chart.js/dist/Chart.min.js"></script>
  <script src="node_modules/angular-chart.js/dist/angular-chart.min.js"></script>
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="/javascripts/game.js"></script>
  <script src="/javascripts/dummydata.js"></script>

  <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>
<body>
  {{{body}}}
</body>
</html>
