<div ng-app="game">
  <div ng-controller='gameCtrl'>
    <h1>\{{question.name}}</h1>
    <p>Answer: <input type="text" ng-model="name"></p>
    <button ng-click='checkAnswer(name)' ng-hide='nextLevel'>Submit</button>
    <button ng-click='startNextLevel()' ng-show='nextLevel'>Next</button>

    <div ng-repeat='a in answers' ng-show='a.isGuessed'>
      <canvas id="doughnut" class="chart chart-doughnut"
        chart-data="a.data" chart-labels="a.label">
      </canvas>
    </div>
  </div>
</div>
